.buttonBg {
  background-color: #57d38c;
  color: #fff;
  font-weight: 700;
}
.buttonBg:hover {
  background-color: #0ad461;
}
.fab {
  cursor: pointer;
}
.fa-facebook {
  color: #3f66b3;
}
.fa-google {
  color: #f74040;
}
.fa-twitter {
  color: #1d9bf0;
}
